{% extends "base.html" %}
{% load static %}
{% block main %}

<div class="text-center my-5">
    {% for follower in followers %}
    {% if forloop.first %}      
    <div class="mb-5">
        <h1>{{ profile_user.username }}さんの弟子一覧</h1>
    </div>
    {% endif %}
    {% endfor %}
    <div class="row">
        {% for follower in followers %}
        <div class="col-md-12 col-lg-3 mb-3 card">
            <div class="text-center px-5 py-4">
                <div class="avater mb-3">
                    {% if follower.profile.avater_image %}
                    <img src="{{ follower.profile.avater_image.url }}" alt="" class="card-img-top rounded-circle">
                    {% else %}
                    <img src="{% static 'images/avater_dummy.png' %}" alt="" class="card-img-top rounded-circle">
                    {% endif %}
                </div>
                <h3 class="font-weight-bolder mb-3">{{ follower.username }}</h3>
                <p class="mb-3 small text-center">{{ follower.profile.title }}</p>

                <div class="d-flex justify-content-around">
                    <p>投稿({{ follower.post.count }}件)</p>
                    <p>師匠({{ follower.followees.count }}人)</p>
                    <p>弟子({{ follower.followers.count }}人)</p>
                </div>
                <a href="{% url 'profile' follower.pk %}" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock main %}