{% extends "base.html" %}
{% load static %}
{% block main %}

<div class="text-center my-5">
    {% for post in posts %}
    {% if forloop.first %}      
    <div class="mb-5">
        <h1>{{ post.user.username }}さんの投稿一覧</h1>
    </div>
    {% endif %}
    {% endfor %}
    <div class="row">
        {% for post in posts %}
        <div class="col-sm-6 mb-3">
            <div class="card px-3 py-4">
                <p class="text-right mb-0">{{ post.created_at|date:"Y/m/d H:i" }}</p>
                <p class="text-right mb-0">{{ post.views }} Views</p>
                <div class="top-avater mb-3">
                    {% if post.user.profile.avater_image %}
                    <img src="{{ post.user.profile.avater_image.url }}" alt="" class="card-img-top rounded-circle">
                    {% else %}
                    <img src="{% static 'images/avater_dummy.png' %}" alt="" class="card-img-top rounded-circle">
                    {% endif %}
                </div>
                <h5 class="font-weight-bolder mb-3">{{ post.title }}の極意</h5>
                <p>by {{post.user.username}}</p>
                <hr>
                <p>
                    {% for tag in post.tags.all %}
                    <a class="text-left pr-1 btn-info">#{{ tag.name }}</a>
                    {% endfor %}
                </p>
                <p class=" text-right"><i class="fas fa-heart text-danger"></i> 0</p>
                <a href="{% url 'post_detail' post.pk %}" class="stretched-link"></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock main %}